@model MusicRepo.Models.ArtistasFestival

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArtistasFestival</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artista.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Festival.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Festival.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArtistasFestival }) |
    @Html.ActionLink("Back to List", "Index")
</p>
