@model MusicRepo.Models.Editora

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>Editora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fundacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fundacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <p>
            <a class="btn btn-primary btn-sm" href="/Editoras/Index">
                <img src="~/Imagens/setaEsq.png" alt="voltarIcon" align="middle" />
                Voltar
            </a>
        </p>
    </div>
    }
</div>
