@model MusicRepo.Models.Musica

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Musica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duracao)
        </dd>

        <dt>
            @Html.Label("Album")
            <!--
            @Html.DisplayNameFor(model => model.Album1.Nome)
                -->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album1.Nome)
        </dd>

        <dt>
            @Html.Label("Artista")
            <!--
            @Html.DisplayNameFor(model => model.Artista1.Nome)
                -->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista1.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMusica })
<p>
    <a class="btn btn-primary btn-sm" href="/Musicas/Index">
        <img src="~/Imagens/setaEsq.png" alt="voltarIcon" align="middle" />
        Voltar
    </a>
</p>
