@model IEnumerable<MusicRepo.Models.Musica>

@{
    ViewBag.Title = "Musicas";
}

<h2>Musicas</h2>

<p>
    <a class="btn btn-primary" href="/Musicas/Create">
        <img src="~/Imagens/mais.png" alt="addIcon" align="middle" />
        Adicionar
    </a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Duracao", "Index", new { sortOrder = ViewBag.DuracaoSortParm })
        </th>
        <th>
            @Html.ActionLink("Artista", "Index", new { sortOrder = ViewBag.ArtistaSortParm })
        </th>
        <th>
            @Html.ActionLink("Album", "Index", new { sortOrder = ViewBag.AlbumSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album1.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artista1.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idMusica }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.idMusica }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idMusica })
            </td>
        </tr>
    }

</table>
