@model MusicRepo.Models.Festival

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Festival</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

        <dt>
            @Html.Label("Artista")
            <!--
            @Html.DisplayNameFor(model => model.Artista1.Nome)
                -->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista1.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idFestival })
<p>
    <a class="btn btn-primary btn-sm" href="/Festivals/Index">
        <img src="https://i.imgur.com/nXrUxGd.png" alt="voltarIcon" align="middle" />
        Voltar
    </a>
</p></p>
