@model IEnumerable<MusicRepo.Models.Festival>

@{
    ViewBag.Title = "Festivais";
}

<h2>Festivais</h2>

<p>
    <a class="btn btn-primary" href="/Festivals/Create">
        <img src="https://imgur.com/XQugWNG.png" alt="addIcon" align="middle" />
        Adicionar
    </a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Localidade", "Index", new { sortOrder = ViewBag.LocalidadeSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idFestival }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.idFestival }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idFestival })
            </td>
        </tr>
    }

</table>
