@model MusicRepo.Models.MusicasAlbum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MusicasAlbum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Album.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musica.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musica.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMusicasAlbum }) |
    @Html.ActionLink("Back to List", "Index")
</p>
