@model MusicRepo.Models.Artista

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naturalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naturalidade)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>Album</th>
            <th>Ano</th>
        </tr>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
            </tr>
        }
    </table>


    <table class="table">
        <tr>
            <th>Musica</th>
            <th>Duracao</th>
        </tr>
        @foreach (var item in Model.Musicas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idArtista })
<p>
    <a class="btn btn-primary btn-sm" href="/Artistas/Index">
        <img src="https://i.imgur.com/nXrUxGd.png" alt="voltarIcon" align="middle" />
        Voltar
    </a>
</p>
</p>
