@model IEnumerable<MusicRepo.Models.Artista>

@{
    ViewBag.Title = "Artistas";
}

<h2>Artistas</h2>


<p>
    <a class="btn btn-primary" href="/Artistas/Create">
        <img src="https://imgur.com/XQugWNG.png" alt="addIcon" align="middle" />
        Adicionar
    </a>
</p>

@using (Html.BeginForm())
{
    <p>
        Nome de Musica: @Html.TextBox("SearchString")
        <input type="submit" value="Pesquisar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Naturalidade", "Index", new { sortOrder = ViewBag.NaturalidadeSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naturalidade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idArtista }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.idArtista }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idArtista })
            </td>
        </tr>
    }

</table>
