@model IEnumerable<MusicRepo.Models.Artista>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p><a class="btn btn-primary btn-lg" href="/Artistas/Create">Criar</a></p>


@using (Html.BeginForm())
{
    <p>
        Nome de Musica: @Html.TextBox("SearchString")
        <input type="submit" value="Pesquisar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm })
        </th>
        <th>
            @Html.ActionLink("Naturalidade", "Index", new { sortOrder = ViewBag.NaturalidadeSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naturalidade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idArtista }) |
                @Html.ActionLink("Details", "Details", new { id = item.idArtista }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idArtista })
            </td>
        </tr>
    }

</table>
