@model MusicRepo.Models.Album

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artista1.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista1.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editora1.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editora1.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" />
        <p>
            <a class="btn btn-primary btn-sm" href="/Albums/Index">
                <img src="https://i.imgur.com/nXrUxGd.png" alt="voltarIcon" align="middle" />
                Voltar
            </a>
        </p>
    </div>
        
    }
</div>
