@model MusicRepo.Models.Album

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Album</h4>
    <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ano)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ano)
            </dd>

            <dt>
                @Html.Label("Artista")
                <!--
                @Html.DisplayNameFor(model => model.Artista1.Nome)
                    -->
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Artista1.Nome)
            </dd>

            <dt>
                @Html.Label("Editora")
                <!--
                @Html.DisplayNameFor(model => model.Editora1.Nome)
                    -->
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Editora1.Nome)
            </dd>

        </dl>

        <table class="table">
            <tr class="table-info">
                <th>Musica</th>
                <th>Duracao</th>
            </tr>
            @foreach (var item in Model.Musicas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracao)
                    </td>
                </tr>
            }
        </table>

    </div>
    <p>
        <a class="btn btn-primary btn-sm" href="/Albums/Index">
            <img src="~/Imagens/setaEsq.png" alt="voltarIcon" align="middle" />
            Voltar
        </a>
        @Html.ActionLink("Editar", "Edit", new { id = Model.idAlbum })

    </p>
