<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MusicRepo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="https://imgur.com/9tcm2gZ.png" alt="Logo MusicRepo" align="middle" />
            MusicRepo
        </a>
        <!--
            <div class="collapse navbar-collapse" id="navbarColor01">
            -->
            <ul class="navbar-nav mr-auto">
                <!-- @Html.ActionLink("MusicRepo ESII", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Albums">Albuns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Artistas">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Editoras">Editoras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Festivals">Festivais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Musicas">Musicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Contacto</a>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        <!--
        </div>
            -->
    </nav>

    <!--<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Início", "Index", "Home")</li>
        <li>@Html.ActionLink("Albuns", "Index", "Albums")</li>
        <li>@Html.ActionLink("Artistas", "Index", "Artistas")</li>
        <li>@Html.ActionLink("Editoras", "Index", "Editoras")</li>
        <li>@Html.ActionLink("Festivais", "Index", "Festivals")</li>
        <li>@Html.ActionLink("Musicas", "Index", "Musicas")</li>
        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
        <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
    </ul>
    </div> -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MusicRepo - IPVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>